.loadingStyle {
    position: absolute;
    left: 50%;
    top: 50%;
}

.pdfFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-y: auto;
}

.pageCanvas {
    position: absolute;
}

/* 骑缝章样式 */
.pagingSeal {
    z-index: 100;
    position: absolute;
}
